:root{
  --main-color: #2c3e50;
  --section-color: #1abc9c;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
   "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-main{
  background-color: var(--main-color) !important;
}
.bg-section{
  background-color: var(--section-color) !important;
}
.w-65{
  width: 65%;
}
.fs-3rem{
  font-size: 3rem;
}